body {
    font-family: "Google Sans", sans-serif;
}
 section{
    height:500px;
 }

.text-center {
    text-align: center;
}

.container {
    padding: 0 5% 0 5%;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 3%;
}

.half-width img {
    width: 100%;
}

.text-justify {
    text-align: justify;
}

.orange-button {
    background: #ed6307;
    background: linear-gradient(90deg, rgba(237, 99, 7, 1) 0%, rgba(240, 148, 67, 1) 50%, rgba(237, 221, 83, 1) 100%);
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: .2rem;

}

#baby-dev{
    border-left: 7px solid;
    border-image:linear-gradient(orange,tomato);
    border-image-slice: 1;
    padding: 2%;
}

.experience{
    box-shadow: 10px 10px 20px #c0c0c0;
    border-radius: 0 10px 10px 0;
}

#full-dev{
    border-left: 7px solid;
    border-image:linear-gradient(cyan,blue);
    border-image-slice: 1;
    padding: 2%;
}