.pink-bg {
    background-color: #fceae8;
}

.pink-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
}

.banner-img {
    height: 420px;
    object-fit: contain;
    width: auto;
}

.watch-bg {
    background-image: linear-gradient(to right, #FFCD44, #FF9C51);
    border-radius: .3rem;
    color: white;
    padding: .75rem;
}

.bag-bg {
    background-image: linear-gradient(to right, #934343, #6F1B1B);
    border-radius: .3rem;
    color: white;
    padding: .75rem;
}

.shoes-bg {
    background-image: linear-gradient(to right, #2591FB, #000780);
    border-radius: .3rem;
    color: white;
    padding: .75rem;
}

.background {
    background-color: #f7f7f7;
    padding: 2rem 0; 
}